.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  padding: 15px 30px;
}
.box {
  display: flex;
  align-items: center;
}
.linkActive {
  border-bottom: 2px solid gray;
}
.link {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  color: black;
  padding: 5px;
}
.link:not(:last-of-type) {
  margin-right: 25px;
}
.linkDark {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  color: white;
  padding: 5px;
}
.linkDark:not(:last-of-type) {
  margin-right: 25px;
}
