.btnLight {
  margin: 15px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 20px;
  border:none;
}
.btnLight:hover {
  box-shadow:  0 0 30px 4px rgba(22, 1, 76, 0.8);
}

.btnDark {
  margin: 15px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 20px;
  border:none;
}
.btnDark:hover {
  box-shadow:  0 0 30px 4px rgba(230, 209, 108, 0.9);
}
.textLight {
    margin-bottom: 5px;
    font-size: 18px;
}
.textDark {
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
}
.statisticsLight{
   width: 200px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
.statisticsDark{
   width: 200px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid white;
}
