.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
    margin-bottom: 30px;
}
.item{
    margin: 20px;
    box-shadow: 0px 35px 60px 3px rgba(0, 0, 0, 0.3);
}
.item:hover,
.item:focus {
     transform: scale(1.1);
     box-shadow: 0px 35px 60px 3px rgba(0, 0, 0, 0.8);
}
.item img{
    object-fit: cover;
}